In [1]:
import os
import json
import pandas as pd
from PIL import Image
from tqdm import *
import numpy as np
import pickle
from shutil import copyfile
import glob

from tqdm import tqdm

In [2]:
train_annotations = '/group-volume/orc_srr/multimodal/iceblood/datasets/main/annotations/training/'
test_annotations = '/group-volume/orc_srr/multimodal/iceblood/datasets/main/annotations/test/'
final_annotations = '/group-volume/orc_srr/multimodal/iceblood/datasets/main/annotations/final/'

data_path = '/group-volume/orc_srr/multimodal/iceblood/datasets/main/TRAIN/skolkovo/'
data_path_final = '/group-volume/orc_srr/multimodal/iceblood/datasets/main/TEST/'

In [3]:
folders_train = os.listdir(train_annotations)
folders_test = os.listdir(test_annotations)
folders_final = os.listdir(final_annotations)

In [4]:
train_data = []

for cur_folder in tqdm(folders_train):
    anno = list(filter(lambda x: 'tsv' in x, os.listdir(os.path.join(train_annotations, cur_folder))))
    imgs = list(map(lambda x: x.replace('.tsv', '.jpg'), anno))
    for cur_anno in anno:
        img_data = pd.read_csv(os.path.join(train_annotations, cur_folder, cur_anno), sep='\t')
        img_data['path'] = str(os.path.join(cur_folder, cur_anno.replace('.tsv', '.jpg')))
        train_data.append(img_data)

100%|██████████| 10/10 [00:18<00:00,  2.04s/it]

In [5]:
test_data = []

for cur_folder in tqdm(folders_test):
    anno = list(filter(lambda x: 'tsv' in x, os.listdir(os.path.join(test_annotations, cur_folder))))
    imgs = list(map(lambda x: x.replace('.tsv', '.jpg'), anno))
    for cur_anno in anno:
        img_data = pd.read_csv(os.path.join(test_annotations, cur_folder, cur_anno), sep='\t')
        img_data['path'] = str(os.path.join(cur_folder, cur_anno.replace('.tsv', '.jpg')))
        test_data.append(img_data)

100%|██████████| 2/2 [00:09<00:00,  4.91s/it]

In [6]:
final_data = []

for cur_folder in tqdm(folders_final):
    anno = list(filter(lambda x: 'tsv' in x, os.listdir(os.path.join(final_annotations, cur_folder))))
    imgs = list(map(lambda x: x.replace('.tsv', '.jpg'), anno))
    for cur_anno in anno:
        img_data = pd.read_csv(os.path.join(final_annotations, cur_folder, cur_anno), sep='\t')
        img_data['path'] = str(os.path.join(cur_folder, cur_anno.replace('.tsv', '.jpg')))
        final_data.append(img_data)

100%|██████████| 3/3 [00:02<00:00,  1.13it/s]

In [7]:
train_df = pd.concat(train_data)
test_df = pd.concat(test_data)

train_df = train_df.reset_index()
test_df = test_df.reset_index()


df = pd.concat((test_df, train_df))
df['class'] = df['class'].astype(str)
df = df.reset_index()
df = df.drop(['level_0', 'data', 'index'], axis=1)
df.to_csv(os.path.join(data_path, 'skolkovo_ann.csv'), index=False)

In [9]:
final_df = pd.concat(final_data)

final_df = final_df.reset_index()

final_df['class'] = final_df['class'].astype(str)
final_df = final_df.drop(['data', 'index'], axis=1)
final_df.to_csv(os.path.join(data_path_final, 'skolkovo_final.csv'), index=False)

In [13]:
df.shape

(28756, 8)

In [14]:
df.head()

,class,xtl,ytl,xbr,ybr,temporary,occluded,path
0,5.19.1,1698,960,1707,993,False,False,2018-03-16_1324_left/010565.jpg
1,5.19.2,1749,978,1759,1004,False,False,2018-03-16_1324_left/010565.jpg
2,2.1,1568,979,1591,1003,False,False,2018-03-16_1324_left/010565.jpg
3,2.1,1752,938,1794,982,False,False,2018-03-16_1324_left/010565.jpg
4,3.1,1125,998,1130,1005,False,False,2018-03-16_1324_left/010565.jpg

In [15]:
final_df.shape

(2932, 8)

In [16]:
final_df.head()

,class,xtl,ytl,xbr,ybr,temporary,occluded,path
0,5.3,1358,992,1363,1002,False,True,2018-03-23_1352_right/005949.jpg
1,5.15.5,1502,881,1546,925,False,False,2018-03-23_1352_right/005949.jpg
2,3.24,1335,930,1360,956,False,False,2018-03-23_1352_right/005949.jpg
3,5.4,1435,986,1443,1001,False,False,2018-03-23_1352_right/005949.jpg
4,5.3,1335,887,1360,928,False,False,2018-03-23_1352_right/005949.jpg